body{
    margin: 0;
    padding: 0;
    background-color:#3B38A0 ;
   
    
    
}
.header{
    background-color:#1A2A80 ;
    overflow: hidden;
}
header{
    float: left;
    color: white;
}
nav{
    float: right;
}
li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    color: white;
}
li:hover{
    color: black;
    background-color:#3B38A0 ;
    border-radius: 5px;
    transform: scaleX(1);
}
.home{
    background: url(./image/image2.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
}
.home > h1{
    text-align: center;
    color: #06035ddd;;
    margin: 50px;
    
}
.home >p {
    text-align: center;
    color: black;
    margin: 150px;
}
.about{
    background: white;
    opacity: 0.5;
    overflow: hidden;

}
.about >h2{
    text-align: center;
    color: #3B38A0;
}
.about >p{
    text-align: center;
    color:#124170;
}
.service{
    background-color: darkblue;
    overflow: hidden;
}
.service h2{
    text-align: center;
    color: white;
}
.ser-box{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.ser-box-1{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
    
}
.ser-box-2{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}
.ser-box-3{
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}.ser-box-4{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}

