body{
    margin: 0;
    padding: 0;
    background-color:#3B38A0 ;
   
    
    
}
.header{
    background-color:#1A2A80 ;
    overflow: hidden;
    padding: 5px;
    
}
.logo{ 
    animation: logo;
    animation-duration: 3s;

}
header{
    float: left;
    color: white;
}
@keyframes logo{
    0%{
       transform: translateX(-150px);
    }
    100%{
       transform: translateX(0);
    }
}
nav{
    float: right;
    animation: nav;
    animation-duration: 3s;
}
@keyframes nav{
    0%{
       transform: translateX(-150px); 
    }
    100%{
       transform: translateX(0);
    }
}
li{
    list-style: none;
    display: inline-block;
    padding:5px;
    color: white;
}
li:hover{
    color: black;
    background-color:#3B38A0 ;
    border-radius:5px;
    
}

.home{
    background: url(./image/image2.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
   
}
.home > h1{
    text-align: center;
    color: white;;
    margin: 50px;
    animation: h1;
    animation-duration: 3s;
    
}
@keyframes h1 {
     0%{
       transform: translateY(-450px);
    }
    100%{
       transform: translateY(0);
    }

}
.home >p {
    text-align: center;
    color: black;
    margin: 150px;
    animation: p;
    animation-duration: 3s;
}
@keyframes p{
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0);
    }
}
.about{
    background: gray;
    opacity: 0.8;
    overflow: hidden;

}
.about >h2{
    text-align: center;
    color: white;
}
.about >p{
    text-align: center;
    color:#124170;
}
.service{
    background-color: darkblue;
    overflow: hidden;
}
.service h2{
    text-align: center;
    color: white;
}
.ser-box{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.ser-box-1{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
    
}
.ser-box-2{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}
.ser-box-3{
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}.ser-box-4{
    
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    border-radius: 5px;
}
.contact{
    opacity: 0.5;
   
}
.contact-us{
    color: white;
    text-align: center;
     
}
address{
    color: white;
    padding: 10px;
    
}
main{
    float: left;
}
img{
    width: 30px;
    height: 30px;
    color: white;
}
.frm{
    float:right;
    
}
footer{
    padding: 10px;
    text-align: center;
    color: white;
}
.main{
    text-align: center  ;
}


