*{
    margin: 0;
    padding: 0;

}
/*basic styling*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkslateblue;
    color: white;
    line-height: 1.6em;
    text-align: center;
}
.logo{
    display:block;
    width:5px;
    height: 5px;
  
    
    
}
.logo img{

    width: 100px;
   
    border-radius: 60%;
}
header{
    display: inline;
    margin: 5px;
    padding: 10px;
    text-align: center;
   
}
header>h1{
color: blue;
 
}
#content{
    margin:20px;
    max-width: 960px;
    padding: 0 30px;
}
a{
   text-decoration: none;
   
}
a:hover{
    color: white;
    background-color: darkblue;
    opacity: 0.4;
    padding: 5px;
    border-radius: 5px;

}
.btn{
    display: inline-block;
    position: relative;
    top: -70px;
    padding: 1rem 2rem;
   
    margin-top: 60px;

}