body{
    margin: 0;
    padding:0;
    background-color: rgb(106, 1, 1);  
}
.header{
    background-color: rgb(95, 10, 10);
    overflow: hidden;
     
}
.logo{
    color: white;
    float: left;   
}

.nav {
    float: right;
}

li{
    list-style: none;
    display: inline;
    font-size: 20px;   
}

.heading{
    margin: 150px;
    animation: heading;
    animation-duration: 4s;
}
@keyframes heading{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}
a{
     text-decoration: none;
     color: white;
     cursor: pointer;
     padding: 5px;
     margin: 5px;
}
a:hover{
    background-color: chocolate;
    padding: 10px;
    border-radius: 5px;
}
/*home */
span{
    font-family:cursive;
    color: yellow;
}
.home{
    text-align: center;
}

h2{
    font-family:monospace;
    color:rgb(255,255, 255) ;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.btn{
    padding: 10px;
}
.btn-1{
 background-color: chocolate;
 padding: 10px;
 border-radius: 15px;
 color: white;
 font-family: 'Courier New', Courier, monospace;
}
.btn-1:hover{
 background-color: white;
 color: black;
}
.btn-2{
 padding: 10px;
 border-radius: 15px;
}
.btn-2:hover{
     background-color: chocolate;
      color: white;
}

/*about*/
.about{
    display: flex;
    justify-content:space-between;
    animation: about;
    animation-duration: 4s;
}
@keyframes about{
    0%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0);
    }
}
.about-photo >img{
   width: 300px;
   opacity: 0.5;
}


h2{
    text-align: center;
    color: white;
    animation: h2;
    animation-duration: 4s;
}
@keyframes h2{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.para1{
    color: white;
    margin: 30px;
}
/*menu*/
.menu-content{
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
    animation: menu-content;
    animation-duration: 4s;
}
@keyframes menu-content{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}
img{
    width: 150px;
    
}

.gallery{
    align-items: center;
}
.gallery> img{
    width: 250px;
    height: 250px;
    padding:50px ;
    
}
.contact {
    background-color: rgb(95, 10, 10);
    opacity: 0.5;
    overflow: hidden;

   
}
.contact >h2 ,p, address{
     color: white;
}

.main{
    padding: 15px;
    float: left;
}
.aside{
    float: right;
    padding-right: 15px;
}
input , textarea{
    background-color:white;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
}
.footer{
    text-align: center;
    background-color: rgb(95, 10, 10);
    opacity: 0.5;
    overflow: hidden;
}





